@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300&display=swap');

header {
    background-color: #343a40;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.image-container {
    background-image: url('../images/iss040e080833~orig.jpg');
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
    background-attachment: fixed;
    background-color: #e1af09;
    height: 100vh;
}

.image {
    width: 100%;
    opacity: 0.5;
}

.dialog_box-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.centered-button {
    text-align: center;
    padding: 20px;
}

.centered-button a {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.btn-primary {
    background-color: #ff2600;
}

.btn-primary:hover {
    background-color: #7a9bfe;
}

.bot-message {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#inputBox{
    width: 90vw;
    height: 50px;
    font-family: 'Martian Mono', monospace;
    font-size:25px;
    color: #d7d7d7;
    border-radius: 10px;
    border: 1px #c5c5c5 solid;
    background-color: transparent;
}
.logo{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 80x;
    width: 240px;
}
