<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Webpage</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300&display=swap');
    
    body {
      background-image: url(../static/image/iss040e080833~orig.jpg);
      background-size: cover;
      background-position: center center;
      font-family: sans-serif;
      /* background-repeat: no-repeat; */
        background-attachment: fixed;
        background-size: cover;
        background-color:#e1af09;
    }

  </style>
</head>
<body>
    <h1 style="font-family: 'Martian Mono', monospace;color: #fff;font-size: 100px; ">Travel To Outer Space</h1>
    <h2" style="font-family: 'Martian Mono', monospace;color: #717171;font-size: 50px;" >with Planetary Tourism Office</h2>

</body>
</html>
