<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Webpage</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

    <script>
      function sendMessage() {
        const userInput = document.getElementById('user-input');
        const userMessage = userInput.value;
        userInput.value = '';
        appendMessage('You', userMessage);


        fetch('/ask', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `user_message=${userMessage}`,
        })
        .then(response => {
            console.log(response); // Log the whole response object
            return response.json();
        })

        .then(data => {
            // Logging the bot response to console (for debugging purposes)
            console.log(data.bot_response);

            // Create a new <div> element
            var messageDiv = document.createElement('div');

            // Set the text content of the <div> to the bot response
            messageDiv.textContent = 'Bot: ' + data.bot_response;

            // Optional: add a class to the new <div> for styling purposes
            messageDiv.className = 'bot-message';

            // Find the chat box element by its ID
            var chatBox = document.getElementById('chat-box');

            // Append the new <div> to the chat box
            chatBox.appendChild(messageDiv);
        })

        .catch(error => console.error('Error:', error));
    }
  </script>
</head>
<body>
  <div class="image-container">
      <h1 style="font-family: 'Martian Mono', monospace;color: #fff;font-size: 100px; ">Travel To Outer Space</h1>
      <h2" style="font-family: 'Martian Mono', monospace;color: #abffeb;font-size: 50px;" >with Planetary Tourism Office</h2>
      <br style="margin-bottom: 25px;">
      <input id="inputBox" placeholder="Tell me where would you like to go">
      <button class="btn btn-primary" onclick="sendMessage()">Send</button>
      <img src="{{ url_for('static', filename='/images/Jouney2space.png') }}" alt="Logo" class="logo">
  </div>
</body>
</html>
