<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey To The Outer Space</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">

    <script>
        let chatHistory = [];

        function appendMessage(who, message) {
            const chatBox = document.getElementById('chat-box');
            chatBox.innerHTML += `<div><b>${who}:</b> ${message}</div>`;
            chatHistory.push({ who, message }); // Save the message to chat history
            console.log(chatHistory); // Log chat history for debugging
        }

        function sendMessage() {
            const userInput = document.getElementById('user-input');
            const userMessage = userInput.value;
            userInput.value = '';
            appendMessage('You', userMessage);
            //console.log("User message:", userMessage); // logging user message to console
            //appendMessage('You', userMessage);

            fetch('/ask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `user_message=${userMessage}`,
            })
            .then(response => {
                console.log(response); // Log the whole response object
                return response.json();
            })

            .then(data => {
                // Logging the bot response to console (for debugging purposes)
                console.log(data.bot_response);

                // Create a new <div> element
                var messageDiv = document.createElement('div');

                // Set the text content of the <div> to the bot response
                messageDiv.textContent = 'Bot: ' + data.bot_response;

                // Optional: add a class to the new <div> for styling purposes
                messageDiv.className = 'bot-message';

                // Find the chat box element by its ID
                var chatBox = document.getElementById('chat-box');

                // Append the new <div> to the chat box
                chatBox.appendChild(messageDiv);
            })

            .catch(error => console.error('Error:', error));
        }
    </script>
</head>


<body>
    <header>
        <h1>Journey To The Outer Space</h1>
    </header>

    <div class="image-container">
        <img src="{{ url_for('static', filename='/images/PIA14293.jpg') }}" alt="主畫面星球圖片" class="image">
        <div class="dialog_box-text">
            <div id="chat-box"></div>
            <input type="text" id="user-input" class="form-control" placeholder="Welcome to space tourism">
            <button class="btn btn-primary" onclick="sendMessage()">Send</button>
        </div>
    </div>



    
</body>

</html>
